/RandArray/nbproject/private/
/RandArray/build/
/WhoAmI/nbproject/private/
/WhoAmI/build/
/TempConvert/nbproject/private/
/TempConvert/build/
/AllInputs/nbproject/private/
/AllInputs/build/
/AllInputs/dist/
/JNotePad/nbproject/private/
/nbproject/private/
/JNotePad/build/
/Java3_Lab_CC/nbproject/private/
/Java3_Lab_CC/build/
/Note/nbproject/private/
/Note/build/
/build/
/IceCreamSelection/nbproject/private/
/IceCreamSelection/build/
/IceCream/nbproject/private/
/IceCream/build/
/SwingPeopleList/nbproject/private/
/SwingPeopleList/build/
/ScoopSelection/nbproject/private/
/ScoopSelection/build/
/ScoopSelection/dist/
/NewPropleList/nbproject/private/
/NewPeopleList/nbproject/private/
/NewPeopleList/build/
/CarPractice/nbproject/private/
/CarPratice/nbproject/private/
/CarPratice/build/
/Quiz2Travel/nbproject/private/
/Quiz2Travel/build/
/PeopleDB/nbproject/private/
/PersonDB/nbproject/private/
/PeopleDB/build/
/persondb/nbproject/private/
/PeopleDB_old/build/
/PeopleDB_old/nbproject/private/
/peopledb/nbproject/private/
/ToDoList/nbproject/private/
/ToDoList/build/
/ToDoListSqlite/nbproject/private/
/ToDoListSqlite/build/
/MiniCRM/nbproject/private/
/miniCRM/nbproject/private/
/miniCRM/build/
/JavaApplication99/nbproject/private/
/miniCRM2/nbproject/private/
/miniCRM2/build/
/miniCRM/dist/
/Quiz3Flavours/nbproject/private/
/Quiz3Flavours/build/
/PersonTested/nbproject/private/
/PersonTested/build/
/PersonTest/nbproject/private/
/GetStock/nbproject/private/
/GetStock/build/